<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Elements</title>
  <style>
    .title{
      color: blue;
    }
  </style>
</head>
<body>
  
  <h2 class="title">soy un titulo</h2>
  <template>
    <h2 class="title">hola mundo</h2>
      <div>
        <p>
          soy mas texto de ejemplo
        </p>
      </div>
  </template>
  <my-element></my-element>
  <script src="./my-element.js" type="module"></script>
</body>
</html>